.card {
  border: 2px solid red;
  width: 500px;
  margin: 50px auto;
  padding: 20px;
  text-align: center;
}

.card-photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto 20px;
}

.card-title {
  font-size: 30px;
  font-weight: bold;
}

.card-message {
  font-size: 18px;
  line-height: 1.5;
}

.card-signature {
  font-style: italic;
  margin-top: 20px;
}